<h2>Answer</h2>
<div id="my_question">
  <p><%= @question %></p>
  <p><em>-You</em></p>
</div>
<br>
<div id="coach_answer">
  <p><strong><%= @response %></strong></p>
  <p><em>-Your coach</em></p>
</div>


<%= link_to "Ask another question", ask_path %>
